@use "reset" as *;
@use "color" as *;

body {
	font-family: "Lato", sans-serif;
	header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 10;
		padding: 0 36px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: $white;
		box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
		.logo {
			width: 185px;
			padding: 25px 0;
			transition: opacity 0.2s;
			&:hover {
				opacity: 0.8;
			}
			img {
				width: 100%;
			}
		}
		nav {
			display: flex;
			align-items: center;
			ul {
				display: flex;
				li {		
					a {
						display: flex;
						flex-direction: column;
						align-items: center;
						gap: calc(5 / 1680 * 100vw);
						transition: opacity 0.2s;
						&:hover {
							opacity: 0.8;
						}
						span {
							display: block;
							font-size: calc(12 / 1680 * 100vw);
							padding-right: calc(50 / 1680 * 100vw);
						}
					}
				}
			}
			.cta_button button {
				font-size: calc(12 / 1680 * 100vw);
				color: $white;
				background-color: $orange;
				padding: calc(15 / 1680 * 100vw) calc(20 / 1680 * 100vw);
				border-radius: 1000px;
				transition: opacity 0.2s;
				&:hover {
					opacity: 0.8;
				}
			}
		}
	}
	main {
		.fv {
			position: relative;
			height: calc(100vh - (200 / 1680 * 100vw));
			.wrapper_text {
				position: absolute;
				z-index: 2;
				left: calc(300 / 1680 * 100vw);
				top: calc(50vh - (250 / 1680 * 100vw));
				h1 {
					color: $black;
					font-size: calc(42 / 1680 * 100vw);
					font-weight: 800;
					line-height: calc(63 / 42);
					letter-spacing: .05em;
					margin-bottom: calc(16 / 1680 * 100vw);
					&::after {
						content: "";
						position: absolute;
						top: calc(-100 / 1680 * 100vw);
						right: calc(-150 / 1680 * 100vw);
						width: calc(204 / 1680 * 100vw);
						height: calc(204 / 1680 * 100vw);
						background-image: url(../images/badge.svg);
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center;
					}
				}
				button {
					width: 100%;
					text-align: center;
					font-size: calc(16 / 1680 * 100vw);
					color: $white;
					background-color: $orange;
					padding: calc(15 / 1680 * 100vw) calc(20 / 1680 * 100vw);
					border-radius: 1000px;
					margin-bottom: calc(16 / 1680 * 100vw);
					transition: opacity 0.2s;
					&:hover {
						opacity: 0.8;
					}
				}
				p {
					font-size: calc(12 / 1680 * 100vw);
					font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
				}
			}
			&__bg {
				.left-rectangle {
					position: absolute;
					top: 0;
					left: 0;
					width: calc(348 / 1680 * 100vw);
					img {
						width: 100%;
						height: auto;
					}
				}
				.fill-rectangle {
					position: absolute;
					top: 150px;
					left: -60px;
					width: calc(527 / 1680 * 100vw);
					img {
						width: 100%;
						height: auto;
					}
				}
				.main-visual {
					position: absolute;
					top: 0;
					right: 0;
					width: calc(770 / 1680 * 100vw);
					img {
						width: 100%;
						height: auto;
					}
				}
				.right-rectangle {
					position: absolute;
					bottom: 0;
					right: 0;
					width: calc(348 / 1680 * 100vw);
					img {
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
}